<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Simon Angular 2 Remake!
  </h1>
  <button (click) = 'startGame()'>Click to Start</button>
  <h2>
    {{score}}
  </h2>
  <div *ngIf="show; else elseBlock">Text to show</div>

  <h2 *ngIf="gameOver">
    You lost! Click to start again.
  </h2>


</div>

<div id='game'>
  <div [style.background-color]="highlight(0, 'darkgreen')" id='green' class='quarter' (click) = clickEvent(0)></div>
  <div [style.background-color]="highlight(1, 'darkblue')" id='blue' class='quarter' (click) = clickEvent(1)></div>
  <div [style.background-color]="highlight(2, 'gold')" id='yellow' class='quarter' (click) = clickEvent(2)></div>
  <div [style.background-color]="highlight(3, 'firebrick')" id='red' class='quarter' (click) = clickEvent(3)></div>
</div>
